/****************************/
/* Below 1400px             */
/****************************/

@media (max-width: 94em) {
    .text-box {
        padding: 0 3.2rem 0 6.4rem;
    }
}

/****************************/
/* Below 990px              */
/****************************/
@media (max-width: 62em) {
    html {
        font-size: 53%;
    }

    .text-box {
        padding: 0 2.4rem 0 4.8rem;
    }
}

/*
 -- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 */
