@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  color: #495057;
}

.container {
  padding: 9.6rem 3rem;
  max-width: 80rem;
  margin: 0 auto;

  /* background-color: salmon; */
}

.heading--primary {
  color: #333;
  font-size: 4.8rem;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 2rem;
}

.heading--secondary {
  font-size: 3.6rem;
  letter-spacing: 0;
  margin-bottom: 1.8rem;
}

.subheading {
  color: #24998d;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  letter-spacing: 1.1px;
}

/**********************/
/* SECTION INTRAMUROS */
/**********************/
.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  /* height: 100%; */
  /* padding-bottom: 9.6rem; */
}

.hero-img {
  display: block;
  width: 100%;
  height: 100%;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: 0 9.6rem 0 12.8rem;
}

.hero-text {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 6.4rem;
}

.btn {
  color: black;
  border: none;
  text-decoration: none;
  border-radius: 9px;
}

.btn--hero {
  font-size: 2rem;
  background-color: #27a69a;
  color: white;
  padding: 1.2rem 7.2rem;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
  transition: all 0.35s ease-out;
}

.btn--hero:hover {
  background-color: white;
  color: #27a69a;
}

/**********************/
/* SECTION INTRAMUROS */
/**********************/

.section--intramuros {
  background-color: #e0f8f5;
}

.heading {
  margin-bottom: 6.4rem;
}

.video {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-bottom: 4.8rem;
}

.content-text {
  color: #104540;
  font-size: 1.8rem;
}

.content-text p {
  margin-bottom: 3rem;
  line-height: 1.8;
}

.group-link:link,
.group-link:visited {
  margin-top: 7.2rem;
  display: block;
  text-align: end;
  color: #ff9f1c;
  text-decoration: none;
  transition: all 0.3s;
}

.group-link:hover,
.group-link:active {
  color: #dc8100;
}
