.article {
    background-color: #e0f8f5;
}
.article-container {
    padding: 9.6rem 3rem;
    max-width: 80rem;
    margin: 0 auto;
}

.heading {
    margin-bottom: 6.4rem;
}

.video {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-bottom: 4.8rem;
}

.content-text {
    color: #104540;
    font-size: 1.8rem;
}

.content-text p {
    margin-bottom: 3rem;
    line-height: 1.8;
}

.group-link:link,
.group-link:visited {
    margin-top: 7.2rem;
    display: block;
    text-align: end;
    color: #ff9f1c;
    text-decoration: none;
    transition: all 0.3s;
}

.group-link:hover,
.group-link:active {
    color: #dc8100;
}
